<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082583845739-ou4kr2rheis5r32la3gvkee3sm682mra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082583845739-ou4kr2rheis5r32la3gvkee3sm682mra</string>
	<key>API_KEY</key>
	<string>AIzaSyBNLruhPL-0IoNNARO0ocpLIB41Juj-5yc</string>
	<key>GCM_SENDER_ID</key>
	<string>1082583845739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NIBM.GymMasterPro</string>
	<key>PROJECT_ID</key>
	<string>gymmaster-d9b54</string>
	<key>STORAGE_BUCKET</key>
	<string>gymmaster-d9b54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082583845739:ios:26d99ebb65e1897ebada2e</string>
</dict>
</plist>